* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 75%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}

/* Login Card */
.Head {
    height:50vh;
  width:300px;
  max-width: none;
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Heading */
.Head h2,
.Head h1 {
  text-align: center;
  color: #222;
}

/* Form */
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width:300px;
}

/* Inputs */
.container input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
}

.container input:focus {
  border-color: #007bff;
}

/* Button */
.submit {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 12px;
  cursor: pointer;
  width:100%;

}

.submit:hover {
  background-color: #0056b3;
}

/* Bottom text */
.container p {
  text-align: center;
  font-size: 14px;
}

.container a {
  color: #007bff;
  text-decoration: none;
}
